* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #c7365f, #753682);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 900px;
  height: 500px;
  background: rgba(255,255,255,0.35);
  border-radius: 15px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.player {
  flex: 1;
  text-align: center;
  padding: 50px;
}

.player--active {
  background: rgba(255,255,255,0.4);
}

h2 {
  font-size: 32px;
}

.score {
  font-size: 60px;
  color: #c7365f;
  margin-top: 20px;
}

.current {
  background: #c7365f;
  color: white;
  width: 160px;
  margin: 50px auto;
  padding: 15px;
  border-radius: 12px;
}

.current-score {
  font-size: 32px;
}



.dice {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  width: 80px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}



.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transition: 0.2s;
}

.btn:hover {
  transform: translateX(-50%) translateY(-2px);
}

.btn-new {
  top: 25px;
}

.btn-roll {
  top: 60%;
}

.btn-hold {
  top: 68%;
}
